<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG_HOME" value="d:/log" />
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
<!--  
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>
			${LOG_HOME}/myApp.log
		</file>
		<encoder>
			<pattern>
				%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
-->
	<appender name="ROLLFILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}/mylog.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${LOG_HOME}/mylog-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<!-- each file should be at most 50MB, keep 30 days worth of history, but at most 10GB -->
			<maxFileSize>100MB</maxFileSize>
			<maxHistory>30</maxHistory>
			<totalSizeCap>10GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>
				%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
			<charset>UTF-8</charset>
		</encoder>

	</appender>

	<logger name="io.netty" level="warn">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="io.vertx" level="warn">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="com.zxtech.iot.verxtiot" level="info" />

	<root level="warn">
		<appender-ref ref="ROLLFILE" />
	</root>

</configuration>
